.inputImage {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #DDD;
    border: 2px dashed #BBB;
    cursor: pointer;
    font-family: calibri;
    padding: 10px;
    text-align: center;
    top: 150px;
    width: 100%;
}

img {
    border-radius: 50%;
    width: 100px;
    border: 2px dashed gray;
    align-self: center;
    height: 100% + 20px;
}